<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <%- include("../imports.ejs") %>
</head>
<body>
    <h1>The Fruits App</h1>
    
    <h2>Edit <%= fruit.name %></h2>
    <form action="/fruit/<%= id %>?_method=PUT" method="post">
        <input type="text" name="name" placeholder="name of fruit" value="<%= fruit.name %>"/>
        <input type="text" name="color" placeholder="color of fruit" value="<%= fruit.color %>"/>
        <input type="checkbox" name="readyToEat" 
        <%= fruit.readyToEat ? "checked" : "" %>/>
        <input type="submit" value="Edit <%= fruit.name %>"/>
    </form>
    
</body>
</html>